body,html,ul,ol,li,dd,p{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 12px;
}
button{
	cursor: pointer;
	border: 0;
	background-color: rgba(0,0,0,0);
}
ul,ol{
	list-style: none;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000000;
	display: inline-block;
}
input[type=button]{
	cursor: pointer;
	outline: none;
}
